COMPOSE_BAKE={{ compose_bake }}

# UID und GID für den Container-User
UID={{ container_uid }}
GID={{ container_gid }}

# Microservices & Dispatcher
MICROSERVICE_CONFIG_PATH = "{{ microservice_config_path }}"
DISPATCHER_URL = "http://{{ dispatcher_ip }}:8000"

# Redis
REDIS_HOST={{ redis_host }}
REDIS_PORT={{ redis_port }}

# PostGreSQL für Dagster / Optuna / Persistierung
DB_PASSWORD={{ db_password }}

# Garage
GARAGE_ADMIN_TOKEN={{ garage_admin_token }}

# S3 Credentials für SDK libs/storage
S3_KEY={{ s3_key }}
S3_SECRET={{ s3_secret }}
S3_ENDPOINT=http://{{ s3_endpoint_ip }}:9000
S3_BUCKET_NAME={{ s3_bucket_name }}

# === Streamlit / NiceGUI RAG GUIs ===
GUI_DEV_COMMAND={{ gui_dev_command }}

APP_DB_MODULE={{ app_db_module }}
APP_DB_CLASS={{ app_db_class }}
APP_DB_PATH={{ app_db_path }}
APP_RESET_DB={{ app_reset_db }}

APP_ORCHESTRATOR_MODULE={{ app_orchestrator_module }}
APP_ORCHESTRATOR_CLASS={{ app_orchestrator_class }}

CHAINLIT_PRESENTER_MODULE={{ chainlit_presenter_module }}
CHAINLIT_PRESENTER_CLASS={{ chainlit_presenter_class }}

NICEGUI_PRESENTER_MODULE={{ nicegui_presenter_module }}
NICEGUI_PRESENTER_CLASS={{ nicegui_presenter_class }}

APP_BUS_MODULE={{ app_bus_module }}
APP_BUS_CLASS={{ app_bus_class }}

